button {
  cursor: pointer;
}

main button, .bottom-text button {
  padding: 15px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
}

main button {
  background-color: #678fff;
}

.bottom-text button {
  background-color: #894431;
  font-size: 1rem;
  transition: all 0.1s ease
}

.bottom-text button:hover {
  background-color: #532a1e
}