header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learn-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4c4c4c;
  width: 230px;
}

header a {
  text-decoration: none;
}

.learn-comment {
  position: absolute;
  top: 120px;
  right: 600px;
  opacity: 0;
}

.learn-comment button {
  background-color: #7a807c;
  border: none;
  padding: 5px 10px;
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  margin-left: -5px;
}

.learn-comment i {
  color: #7a807c;
}