.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-info h1 {
  padding: 10px;
}

.main-info p {
  padding: 5px;
}

.main-info a {
  text-decoration: none;
  color: black;
}

.main-info :nth-child(2) {
  font-size: 15px;
}

.main-info :last-child {
  margin-top: 20px;
  font-weight: bolder;
}

.rating, .rating .fa-star {
  font-size: 10px;
}

.rating span {
  font-weight: bolder;
}

.checks {
  margin-top: -10px;
}

.checks .fas {
  color: #678fff;
  padding-right: 2px;
}

.checks span {
  padding: 0 10px;
}

.checks {
  font-weight: bold;
}